    body {
        background-color: #1d1f16;
    }

    header {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 99
    }

    .navbar-nav {
        margin-left: 5%;
        margin-right: 5%;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        text: white;
    }

    .nav-link {
        font-size: 200%;
        color: white;

    }

    .nav-link2 {
        color: white;
        font-size: 300%;
        font-family: "Brush Script MT", "Brush Script Std", cursive;
    }

    .nav-container {
        width: 18%;
        text-align: center;
    }

    .user-buttons {
        display: flex;
        padding: 0px;
        margin: 6% 20% 1%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 200%;

    }

    .button-container {
        border-radius: 15px;
        background-color: #5a6b5e;
        width: 25%;
        text-align: center;
        padding: 0px;
    }

    .but-link {
        color: white;
    }

    * {box-sizing:border-box}

    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }

    .mySlides {
      display: none;
    }

    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }

    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }

    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }

    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
      background-color: #717171;
    }

    .fade {
      animation-name: fade;
      animation-duration: 7s;
    }

    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }

    .week-title {
        display: flex;
        font-size: 200%;
        width: 100%;
        color: white;
        margin: 1% 0% 1%;
        justify-content: center;
    }

    .flower-week {
        display: flex;
        flex-wrap:row wrap;
        justify-content: space-evenly;
        gap: 5% 10%;
        margin: 0% 15% 5% 15%
    }

    .container-week {
      position: relative;
      width: 100%;
      max-width: 300px;
    }

    .image {
      width: 100%;
      height: auto;
      border: 5px solid white;
      border-radius: 10%;
    }

    .overlay {
      position: absolute;
      bottom: 0;
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.5); /* Black see-through */
      color: #f1f1f1;
      width: 100%;
      transition: .5s ease;
      opacity:0;
      color: white;
      font-size: 20px;
      padding: 20px;
      text-align: center;
    }

    .container:hover .overlay {
      opacity: 1;
    }

    .container2:hover .overlay {
          opacity: 1;
    }

    .container2 {
          position: relative;
          width: 100%;
          max-width: 300px;
    }

    .best-sellers {
            display: flex;
            flex-wrap:row wrap;
            justify-content: space-evenly;
            gap: 5% 10%;
            margin: 0% 15% 5% 15%
    }

    .reviews-title {
            display: flex;
            font-size: 200%;
            width: 100%;
            color: white;
            margin: 1% 0% 1%;
            justify-content: center;
        }

    .review-container {
        display: flex;
        flex-wrap:row wrap;
        justify-content: space-evenly;
        gap: 5% 10%;
        height: auto;
        margin-bottom: 5%;
    }

    .review {
        background-color: #5a6b5e;
        width: 150%;
        height: auto;
        border: 5px solid black;
        border-radius: 20%;
        padding: 20%;
        font-size: 150%;
    }

    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: black;
      color: white;
      text-align: center;
      align-items: center;
      font-size: 150%;
      display: flex;
      justify-content: center;
    }

    .social {
        padding-left: 2%;
    }

    .footer-text {
        padding-top: .5%;
    }

    .username, .login-pass {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    button {
      background-color: #04AA6D;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }

    button:hover {
      opacity: 0.8;
    }

    .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;
    }

    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
      position: relative;
    }

    img.avatar {
      width: 40%;
      border-radius: 50%;
    }

    .container {
      padding: 16px;
    }

    span.psw {
      float: right;
      padding-top: 16px;
    }

    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;/* Full width */
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);
      padding-top: 60px;
    }


    .modal-content {
      background-color: #fefefe;
      margin: 5% auto 15% auto;
      border: 1px solid #888;
      width: 80%;
    }

    .close {
      position: absolute;
      right: 25px;
      top: 0;
      color: #000;
      font-size: 35px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: red;
      cursor: pointer;
    }

    .animate {
      -webkit-animation: animatezoom 0.6s;
      animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
      from {-webkit-transform: scale(0)}
      to {-webkit-transform: scale(1)}
    }

    @keyframes animatezoom {
      from {transform: scale(0)}
      to {transform: scale(1)}
    }

    @media screen and (max-width: 300px) {
      span.psw {
         display: block;
         float: none;
      }
      .cancelbtn, cancelbtn2, signupbtn {
         width: 100%;
      }
    }

    .email, .password {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }

    input[type=text]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }

    .cancelbtn2 {
      padding: 14px 20px;
      background-color: #f44336;
    }

    .cancelbtn2, .signupbtn {
      float: left;
      width: 50%;
    }


    hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }

    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }

